.col-xs-4
  .panel.panel-default
    .panel-heading
      .panel-title
        Post new tweet
    .panel-body
      - @tweet.errors.full_messages.each do |message|
        .alert.alert-warning= message

      = form_for @tweet do |f|
        .form-group
          = f.label :content
          = f.text_area :content, class: "form-control"

        = f.submit class: "btn btn-default"

.col-xs-8
  .list-group
    - @tweets.each do |tweet|
      .list-group-item
        %h4.list-grou-item-heading
          = link_to tweet.user.email, tweet.user
        = tweet.content

        - if tweet.user == current_user
          = link_to "remove tweet", tweet, method: :delete, data: { confirm: "Are you ok?" }
        - if tweet.favorites.where(user_id: current_user.id).exists?
          = link_to "unfav", tweet_favorites_path(tweet), method: :delete, data: { confirm: "Unfav?" }
        - else
          = link_to "fav", tweet_favorites_path(tweet), method: :post, data: { confirm: "Favorite?" }
